---
---

@import "jekyll-theme-minimal";

audio.podcast {
	width:100%;
}

img#logo {
	max-width:50%;
}

.episode-photo {
	max-width:100%;
	height:auto;
	border-radius:5px;
	margin-bottom:10px;
}

.photo-caption {
	font-size:0.9em;
	color:#666;
	font-style:italic;
	text-align:center;
	margin-top:0;
	margin-bottom:20px;
}

.post-thumbnail {
	width:80px;
	height:80px;
	object-fit:cover;
	border-radius:5px;
}

.thumbnail-cell {
	width:100px;
	padding-right:15px;
	vertical-align:top;
}

[dir="rtl"] .thumbnail-cell {
	padding-right:0;
	padding-left:15px;
}
